In [19]:
import pandas as pd

In [20]:
dict1={"name" :["ineuron","sudh","krish","kumar"],
       "number":[3,4,5,9],
       "test":["xyz","abc","def","ghi"],
       "string":["sghdhdf","fdufhg","fjgr","rtgf"]
    
}

In [21]:
df1=pd.DataFrame(dict1)

In [22]:
df1

      name  number test   string
0  ineuron       3  xyz  sghdhdf
1     sudh       4  abc   fdufhg
2    krish       5  def     fjgr
3    kumar       9  ghi     rtgf

In [23]:
dict2={"name1" :["ineuron","sudh","krish","kumar"],
       "number1":[3,4,5,9],
       "test1":["xyz","abc","def","ghi"],
       "string1":["sghdhdf","fdufhg","fjgr","rtgf"]
    
}

In [24]:
df2=pd.DataFrame(dict2)

In [25]:
df2

     name1  number1 test1  string1
0  ineuron        3   xyz  sghdhdf
1     sudh        4   abc   fdufhg
2    krish        5   def     fjgr
3    kumar        9   ghi     rtgf

In [26]:
pd.concat([df1,df2])

      name  number test   string    name1  number1 test1  string1
0  ineuron     3.0  xyz  sghdhdf      NaN      NaN   NaN      NaN
1     sudh     4.0  abc   fdufhg      NaN      NaN   NaN      NaN
2    krish     5.0  def     fjgr      NaN      NaN   NaN      NaN
3    kumar     9.0  ghi     rtgf      NaN      NaN   NaN      NaN
0      NaN     NaN  NaN      NaN  ineuron      3.0   xyz  sghdhdf
1      NaN     NaN  NaN      NaN     sudh      4.0   abc   fdufhg
2      NaN     NaN  NaN      NaN    krish      5.0   def     fjgr
3      NaN     NaN  NaN      NaN    kumar      9.0   ghi     rtgf

In [27]:
"Chikku"+" Raka"

'Chikku Raka'

In [28]:
pd.concat([df1,df2])

      name  number test   string    name1  number1 test1  string1
0  ineuron     3.0  xyz  sghdhdf      NaN      NaN   NaN      NaN
1     sudh     4.0  abc   fdufhg      NaN      NaN   NaN      NaN
2    krish     5.0  def     fjgr      NaN      NaN   NaN      NaN
3    kumar     9.0  ghi     rtgf      NaN      NaN   NaN      NaN
0      NaN     NaN  NaN      NaN  ineuron      3.0   xyz  sghdhdf
1      NaN     NaN  NaN      NaN     sudh      4.0   abc   fdufhg
2      NaN     NaN  NaN      NaN    krish      5.0   def     fjgr
3      NaN     NaN  NaN      NaN    kumar      9.0   ghi     rtgf

In [29]:
df4=[df1+df2]

In [30]:
df4

[   name  name1  number  number1  string  string1  test  test1
 0   NaN    NaN     NaN      NaN     NaN      NaN   NaN    NaN
 1   NaN    NaN     NaN      NaN     NaN      NaN   NaN    NaN
 2   NaN    NaN     NaN      NaN     NaN      NaN   NaN    NaN
 3   NaN    NaN     NaN      NaN     NaN      NaN   NaN    NaN]

In [51]:
dict1={"name" :["ineuron","sudh","krish","kumar"],
       "number":[3,4,5,9],
       "test":["xyz","abc","def","ghi"],
       "string":["sghdhdf","fdufhg","fjgr","rtgf"]
    
}

In [52]:
df1=pd.DataFrame(dict1)

In [53]:
dict2={"name" :["ineuron1","sudh","krish","kumar"],
       "number":[30,4,5,9],
       "test":["xyz1","abc","def","ghi"],
       "string1":["sghdhdfh","fdufhg","fjgr","rtgf"]
    
}

In [54]:
df2=pd.DataFrame(dict2)

In [55]:
pd.merge(df1,df2,on='test',how="left")

    name_x  number_x test   string name_y  number_y string1
0  ineuron         3  xyz  sghdhdf    NaN       NaN     NaN
1     sudh         4  abc   fdufhg   sudh       4.0  fdufhg
2    krish         5  def     fjgr  krish       5.0    fjgr
3    kumar         9  ghi     rtgf  kumar       9.0    rtgf

In [60]:
pd.merge(df1,df2,on='test')

  name_x  number_x test  string name_y  number_y string1
0   sudh         4  abc  fdufhg   sudh         4  fdufhg
1  krish         5  def    fjgr  krish         5    fjgr
2  kumar         9  ghi    rtgf  kumar         9    rtgf

In [58]:
pd.merge(df1,df2,on='test',how="right")

  name_x  number_x  test  string    name_y  number_y   string1
0    NaN       NaN  xyz1     NaN  ineuron1        30  sghdhdfh
1   sudh       4.0   abc  fdufhg      sudh         4    fdufhg
2  krish       5.0   def    fjgr     krish         5      fjgr
3  kumar       9.0   ghi    rtgf     kumar         9      rtgf

In [59]:
pd.merge(df1,df2,left_on="string",right_on="string1",how="outer")

    name_x  number_x test_x   string    name_y  number_y test_y   string1
0  ineuron       3.0    xyz  sghdhdf       NaN       NaN    NaN       NaN
1     sudh       4.0    abc   fdufhg      sudh       4.0    abc    fdufhg
2    krish       5.0    def     fjgr     krish       5.0    def      fjgr
3    kumar       9.0    ghi     rtgf     kumar       9.0    ghi      rtgf
4      NaN       NaN    NaN      NaN  ineuron1      30.0   xyz1  sghdhdfh

In [61]:
pd.merge(df1,df2,on='how',)

KeyError: 'how'

In [63]:
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['name', 'number', 'test'], dtype='object')

# MAPPING

In [68]:
l=[1,2,3,4,5,6]

[i+1 for i in l]

[2, 3, 4, 5, 6, 7]

In [69]:
def test(data):
    return data+1

In [71]:
list(map(test,l))

[2, 3, 4, 5, 6, 7]

In [72]:
import numpy as np

In [73]:
def test(data):
    if data<3:
        return np.sqrt(data)
    else:
        return np.log(data)

In [74]:
list(map(test,l))

[1.0,
 1.4142135623730951,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055]

In [75]:
l

[1, 2, 3, 4, 5, 6]

In [76]:
list(map(lambda x:x+1,l))

[2, 3, 4, 5, 6, 7]

In [77]:
list(map(lambda data:data+1,l))

[2, 3, 4, 5, 6, 7]

In [78]:
l

[1, 2, 3, 4, 5, 6]

In [80]:
list(map(lambda x : np.sqrt(x) if x<3 else np.log(x),l))

[1.0,
 1.4142135623730951,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055]

In [81]:
import functools

In [82]:
l1=[3,4,5,6,7,8]

In [83]:
sum(l1)

33

In [84]:
functools.reduce(sum,l1)

TypeError: 'int' object is not iterable